{
  "extends": ["stylelint-config-standard", "stylelint-config-recommended-scss"],
  "rules": {
    "no-empty-source": null,
    "font-family-no-missing-generic-family-keyword": null,
    "block-no-empty": null,
    "no-descending-specificity": null,
    "color-hex-length": "long",
    "color-hex-case": "lower",
    "no-duplicate-selectors": null,
    "declaration-block-no-shorthand-property-overrides": null,
    "declaration-block-no-duplicate-properties": null,
    "declaration-block-single-line-max-declarations": null
  }
}
