@charset "UTF-8";

// Vendors
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap");

// Configuration and helpers
@import "functions";
@import "utility";

// ---- font-family
$font-web: 'Noto Sans JP',
  BlinkMacSystemFont,
  "Noto Sans JP",
  "Helvetica Neue",
  "Segoe UI",
  "Original Yu Gothic",
  "Yu Gothic",
  YuGothic,
  Verdana,
  "Hiragino Kaku Gothic Pro 3 ", Meiryo, " M+1p ", sans-serif;

html, body {
  margin: 0;
  height: 100%;
  font-family: $font-web !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}
